.match-box {
  width: 85vw;
  margin: 2vh auto;
  padding: 2vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 3px gray;

  display: flex;
  flex-direction: column;

  &__competition {
    font-weight: bold;
    padding-bottom: 1vh;
    span:nth-child(2) {
      color: gray;
      float: right;
      font-weight: normal;
    }
  }

  &__score {
    display: flex;
    align-items: center;
    &__time {
      width: 15%;
      text-align: center;
    }

    &__team {
      width: 70%;
    }

    &__number {
      width: 15%;
    }
  }
}

select {
  display: block;
}

.match-messi {
  width: 100%;
}

.date-filter {
  // background-color: white;

  &__field {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin: 0 10vw;
      width: 20%;
    }
    input[type="date"] {
      margin-right: 10%;
      width: 70%;
    }
  }

  &__go {
    margin: 2vh 0;
    position: relative;
    left: 50vw;
    padding: 2vh 5vh;
    background-color: black;
    color: white;
    border-radius: 15vh;
    display: inline-block;
  }
}

.league-select {
  // box-shadow: 0 4px 3px gray;
  margin: 5vh 0;
}
