* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@mixin desktop() {
  @media only screen and (min-width: 760px) {
    @content;
  }
}

body {
  background-color: #f3f2f8;
  font-family: Montserrat;
}

.bottom-navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
  color: black;
  height: 8vh;
  z-index: 100 !important;
  box-shadow: 0 2px 5px gray;

  @include desktop(){
    width: 10vw;
    height: 100vh;
    left:0;
    flex-direction: column;
  }
}

.navbar-section {
  width: calc(100% / 3);
  text-align: center;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 20%;
    pointer-events: none;
  }
  p {
    pointer-events: none;
  }

  @include desktop(){
   width: 100%;
   height: calc(100%/3); 
   justify-content: center;
   align-items: center;
  }
}

.margin-bottom {
  margin-bottom: 10vh;
}

.active-nav {
  background-color: black;
  img {
    filter: invert(1);
  }
  p {
    color: white;
  }
}


@import "./leagues";
@import "./team";
@import "./_match";
@import "./save";
